.footnei li{
    overflow: hidden;
    line-height: 30px;
    height: 30px;
}
.foot .footer{
    height: 300px;
}
.footer .footTwo{
    margin-left: 40px;
    width: 400px;
    height: 100%;
}
.footer .footOne{
    height: 100%;
}
.foot,.foot2{
    width: 100% !important;
}